.table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}
.table-row:hover {
  background-color: rgba(240, 240, 240, 0.5);
}

.table-header {
}

.table-col {
  display: table-cell;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}